# ignore all
*

# except for the following
!README.md
!index.md
!.gitignore

!_layouts
!_layouts/*.html

!lectures/
!lectures/assets/
!lectures/assets/*.css

!lectures/assets/svg/
!lectures/assets/svg/*.svg

!lectures/assets/jpg/
!lectures/assets/jpg/*.jpg

!lectures/assets/png/
!lectures/assets/png/*.png

!lectures/assets/gif/
!lectures/assets/gif/*.gif
