# ignore all
*

# except for the following
!README.md
!.gitignore
!Makefile

!scripts/
!scripts/*.py
!scripts/*.json

!labs/
!labs/Makefile
!labs/*.md
!labs/*.bib
!labs/assets/
!labs/assets/*.jpg

!lectures/
!lectures/Makefile
!lectures/*.md
!labs/*.bib
!lectures/assets/
!lectures/assets/*.css

!lectures/assets/svg/
!lectures/assets/svg/*.svg

!lectures/assets/jpg/
!lectures/assets/jpg/*.jpg

!lectures/assets/png/
!lectures/assets/png/*.png
!lectures/assets/png/pca
!lectures/assets/png/pca/*.png

!lectures/assets/gif/
!lectures/assets/gif/*.gif
